/* CSS GENERAL*/
body{
    background-color: #EBE8DE;
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
}
/* LOGIN */
#login{
    margin: auto;
    width: 500px;
    background-color: white;
    height: 300px;
    border:1px solid gray;
}
#login h3{
    text-align: center;
    margin-top: 0;
    padding: 4% 0;
    background-color: #EBE8DE;
    color: #E56038;
}
#login form{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
#login label{
    font-weight: bold;
}
#login input{
    width: 100%;
}
#login input[type=submit]{
    padding: 5px;
}
.error{
    color: red;
    background-color: yellow;
}
/* LOGOFF */
#logoff{
    background-color: white;
    padding: 2% 1%;
}
#logoff form{
    float: left;
    margin-top: -1%;
}
#logoff input[type=submit]{
    background-color: #E56038;
    border: none;
    color: white;
}
#logoff input[type=submit]:hover{
    background-color: #000;
}
/* PRODUCTOS */
#encabezado{
    clear: both;
    background-color: #E56038;
    text-align: center;
    color: white;
    padding: 2%;
}
#productos{
    margin: 2% auto;
    width: 100%;
    max-width: 1200px;
}
.producto{
    width: 100%;
    max-width: 200px;
    display: inline-block;
    margin: 1% 2%;
    background-color: white;
    padding: 2%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;
    height: 350px;
    /* alineta el inline-block todos igusl por el top*/
    vertical-align: top;
}
.producto p{
    font-size: 0.9em;
    height: 20px;
}
.producto img{
    width: 200px;
    height: 200px;
}
#añadir{
    width: 100%;
    padding: 5%;
    background-color: #E56038;
    color: white;
    border: none;
}
#añadir:hover{
    background-color: #000;
}
/* CESTA */
#cesta{
    width: 220px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #EBE8DE;
    color: black;
}
#cesta h3{
    text-align: center;
    border-bottom: 1px solid black;
    margin: 1%;
}
#cesta ul{
    list-style: none;
    padding: 0;
    border-bottom: 1px solid black;
    margin: 1%;
}
#cesta ul li, #cesta p{
    font-size: 0.9em;
    display: inline;
    margin-left: 3%;
    padding: 0;
}
#cesta input[type=image]{
    width: 4%;
}
#pagar{
    margin-top: 3%;
    text-align: center;
}
#pagar input{
    padding: 2% 8%;
    margin-bottom: 3%;
    border: none;
    background: #E56038;
    color: white;
    float: left;
}
#pagar input:hover{
    background-color: black;
}
#formulario input{
    padding: 2% 8%;

    border: none;
    background: #E56038;
    color: white;
    float: left;
    margin: 0 15% 3% 15%;
}
#formulario input:hover{
    background-color: black;
}
/* PAGAR */
header{
    background-color: #E56038;
}
header h2{
    color: white;
    margin: 0;
    padding: 2%;
    text-align: center;
}
#ticket{
    width: 100%;
    max-width: 650px;
    margin: 3% auto;
    background-color: white;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;
}
#ticket table{
    margin: 0 auto;
    padding-top: 5%;
}
#ticket th{
    text-align: center;
    padding: 25px;
}
#ticket td {
    padding: 25px;
    text-align: left;
}
tr:nth-child(even) {
    background-color: #E56038;
}
tr:nth-child(odd) {
    background-color: #EBE8DE;
}
thead tr{
    background-color: white !important;
}
.total{
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}
.total p {
    display: inline-block;
    font-weight: bold;
    padding-left: 15%;
}
/* PAGO */
#formaPago{
    width: 100%;
    max-width: 650px;
    margin: 3% auto;
    background-color: white;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;
    height: auto;
    padding-bottom: 4%;
}
#formaPago h2{
    text-align: center;
    padding: 2%;
}
#metodos{
    display: flex;
    margin-left: 10%;
}
#transferenciaM{
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    background-color: #EBE8DE;
}
#transferenciaM p, #transferenciaM h3{
    padding: 2%;
}
#comprar{
    border: none;
    background-color: #E56038;
    color: white;
    padding: 3% 150px;
    font-weight: bold;
    margin: 0 auto;
}
#comprar:hover{
    background-color: #000;
}
#tarjetaM{
    width: 100%;
    max-width: 550px;
    margin: 2% auto;
    background-color: #EBE8DE;
    padding: 2%;
}
#tarjetaM input{
    width: 80px;
}
#tarjetaM label{
    padding: 2%;
}
.pagado p, .pagado h3{
    text-align: center;
}
/* DESCRIPCION */
.main{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    background-color: white;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius:5%;
    height: auto;
    padding-bottom: 2%;
}
.main h3{
    padding:2%;
    border-bottom: 1px solid black;
}
.main p{
    padding: 0 2% 0 2%;
}